<h1> 
    Welcome to the Login Page
</h1>

<form asp-controller="Auth" asp-action="Login" method="post" style="max-width: 430px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="~/Views/Auth/components/_LoginForm.cshtml" />

    <div class="form-group mb-3">
       <button class="btn btn-primary">Login</button>
    </div>
</form>