@{
    ViewData["Title"] = "Thời trang Việt";
}

<div class="row">
    @foreach (Product product in ViewBag.Products)
    {
        <div class="col-12 col-md-4 col-lg-3">
            <div class="card mt-3" >
                <img src="@("/uploads/products/"+product.ImageUrl)" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text text-muted fs-6">Some quick example text to build on the content.</p>
                    <a href="#" class="btn btn-dark">@product.PriceFormated đ</a>
                </div>
            </div>
        </div>
    }
</div>