@{
    ViewData["Title"] = "Thời trang Việt";
}

<div class="row">
    @foreach (Product product in ViewBag.Products)
    {
        <div class="col-12 col-md-4 col-lg-3">
            <div class="card mt-3" >
                <img src="https://th.bing.com/th/id/R.432e706b9a6d25a8a91713fd1d523bdf?rik=cXJrVG2Ryp1jBA&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text text-muted fs-6">Some quick example text to build on the content.</p>
                    <a href="#" class="btn btn-primary">@product.PriceFormated đ</a>
                </div>
            </div>
        </div>

    }
</div>