@model ClothesStore.Models.Product

@{
    ViewData["Title"] = "Thêm mới sản phầm";
}

<h1>Thêm mới </h1>

<h4>Sản phẩm</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <partial name="~/Views/Products/components/_ProductForm.cshtml" model=Model />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
